@import "my-blog/style.css/button.css";

.art{
    overflow-y:auto;
    overflow-x: hidden;
    height: 100vh;
    box-shadow: 2px 0px;
    padding: 10px;
}
 .side a{
    color: #000;
    text-decoration: underline;
 }
 .side{
    height: 100vh;
    box-shadow: #000 2px 0px;
 }
.img{
    height: 325px;
    width: 60vw;
    box-shadow: 2px 3px;
}
.caption{
    background-color: #105;
    color: #fff;
    width: fit-content;
    font-size: 20px;
}
.container{
    display: grid;
    justify-content: right;
    grid-template-columns: 70vw 20vw;
    grid-template-rows: 70vh 20vh;
    grid-gap: 2%;
    height: 100vh;
    padding: 10px 10px;
    margin-top: 15px;
}
.top{
    background-color: #f0f8ff;
    color: #021;
    border-bottom: 5px solid #190;
    padding: 10px;
    font: bold italic sans-serif verdana monospace;
}
#contact{
   display: flex;
   flex-flow:column;
    padding: 5px;
    margin: 25px 5px;
    background-color: #f0f8ff;
    text-align: left;
    
}
